:root {
  --line-width: 300px;
}

* {
  box-sizing: border-box;
}

.input {
  font-family: sans-serif;
  font-size: 13pt;
  margin-left: 30px;
  margin-right: 30px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.canvas {
  display: block;
  border: 1px solid #aaa;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.output-p {
  font-family: sans-serif;
  font-size: 13pt;
  width: calc(var(--line-width) + 40px);
  height: 800px;
  border: 1px solid #aaa;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  line-height: 30px;
  overflow: hidden;
}

.css-output-p {
  text-align: justify;
}
