:root {
  --line-width: 300px;
}

* {
  box-sizing: border-box;
}

.input {
  font-family: sans-serif;
  font-size: 13pt;
  margin-left: 30px;
  margin-right: 30px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
}

.canvas {
  display: block;
  border: 1px solid #aaa;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
}

.output-p {
  font-family: sans-serif;
  font-size: 13pt;
  width: calc(var(--line-width) + 40px);
  height: 800px;
  border: 1px solid #aaa;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  line-height: 30px;
  overflow: hidden;
}

.css-output-p {
  /**
   * Enable hyphenation where supported. See https://caniuse.com/#feat=css-hyphens
   *
   * As of 2018-04-07, Chrome's "auto" implementation is limited to macOS and Android.
   * See https://bugs.chromium.org/p/chromium/issues/detail?id=652964 and
   * https://chromium.googlesource.com/chromium/src/+/ed7e106e0e48b3afb160a5bdbb37649e307d2b05
   */
  hyphens: auto;
  text-align: justify;
}

.html-p {
  width: calc(var(--line-width) + 40px);
  font-family: sans-serif;
  font-size: 13pt;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #aaa;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
